body {
    min-width: 620px;
    font-size: 16px;
}

.settings {
    &__inlineItem {
        display: inline-block;
        margin-right: 12px;
        &:last-child {
            margin-right: 0px;
        }
    }
}
