body {
    overflow: hidden;
}

.panel {
    height: 100vh;

    &__topContainer {
        position: absolute;
        top: 0px;

        &_right {
            transition: right .2s ease;
            right: -36px;
            display: flex;

            &:hover {
                right: 0px;

                .panel__topContainer__icon {
                    opacity: 0;
                }
            }
        }

        &_left {
            left: 0px;
        }

        &__icon {
            transition: opacity .2s ease;
            max-height: max-content;
            padding: 2px 4px 4px;
            background-color: rgba(0, 0, 0, 0.2);
            opacity: 0.4;
            font-size: 16px;
        }
    }

    &__centerContainer {
        position: absolute;
        top: 20%;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    &__bottomContainer {
        position: absolute;
        bottom: 0px;
        width: 100%;
    }

    &__draggableContainer {
        position: absolute;
        top: 42px;
        z-index: 2;

        &_right {
            right: 42px;
        }

        &_left {
            top: 80px;
            left: 42px;
        }
    }
}

.control {
    background-color: rgba(0, 0, 0, 0.2);
    transition: background-color 1s;
    display: inline-block;

    &:hover {
        background-color: rgba(0, 0, 0, 0.5);
    }

    &__icon {
        display: block;
        opacity: 0.4;
        transition: opacity 0.8s;

        &:hover, &:active {
            opacity: 1;
        }
    }
}

.react-draggable {
    transition: opacity 0.4s;

    &.react-draggable-dragging {
        opacity: 0.4;
    }
}
