.background {
    &__imageContainer {
        position: fixed;
        top: -50%;
        left: -50%;
        width: 200%;
        height: 200%;
        z-index: -1;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: scroll;
    }

    &__image, &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        min-width: 50%;
        min-height: 50%;
    }

    &__credits {
        position: absolute;
        bottom: 90px;
        transform: rotate(270deg);
        transform-origin: left top 0;
        z-index: 10;
        float: left;
    }

    &__overlay {
        background: rgba(0, 0, 0, 0.60);
        opacity: 0.1;
        transition: opacity 1.5s ease;

        &_loading {
            background: url('../../images/pattern.png') repeat;
            opacity: 1;
        }
    }
}
