@keyframes blink {
    80% {
        visibility: hidden;
    }
}

.clock {
    font-size: 160px;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.5);
    cursor: default;
    text-align: center;
    user-select: none;

    &__hours, &__minutes {
        display: inline-block;
    }

    &__hours {
        &::after {
            display: inline-block;
            content: ":";
            position: relative;
            top: -12px;
        }
    }

    &__date {
        font-size: 26px;
        margin-top: -22px;
        letter-spacing: 4px;
    }

    &_blink {
        .clock__hours::after {
            animation: 1s blink infinite steps(2, start);
        }
    }
}
