.todoList {
    width: 360px;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0.8;
    transition: background-color 0.8s ease, opacity 0.8s ease;
    border-radius: 4px;

    &:hover, &:active {
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.8);
    }

    &__header {
        min-height: 40px;
        border-bottom: 1px solid #ccc;
        user-select: none;
        display: flex;

        &__text {
            padding: 12px;
            padding-right: 0;
            vertical-align: middle;
            flex: 1;
            text-transform: uppercase;
            font-size: 26px;
            letter-spacing: 2px;
            cursor: move;
            text-align: center;
        }

        &__icon {
            padding: 2px;
            display: flex;
            align-items: center;
        }
    }

    &__body {
        min-height: 280px;
        max-height: 280px;
        overflow-y: auto;
        display: flex;
        flex-direction: column;

        &_emptyMessage {
            color: #aaa;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 12px;
            font-size: 16px;
            cursor: text;
        }

        &__emptyArea {
            flex: 1;
            cursor: text;
        }
    }

    &__footer {
        display: flex;

        &__text {
            flex: 1;
            color: #aaa;
            font-size: 12px;
            padding: 12px 4px;
            text-align: center;
            margin-right: -12px;
        }

        &__icon {
            margin-right: -12px;
            margin-bottom: -12px;
            align-items: center;
        }
    }

    &__item {
        border-bottom: 1px dotted #ccc;
        display: flex;
        min-height: min-content;

        &__new {
            padding: 0;

            > input, > textarea {
                color: #fff !important;
            }

            > span {
                display: none !important;
            }
        }

        &__text {
            padding: 12px;
            padding-right: 0;
            vertical-align: middle;
            font-size: 14px;
            flex: 1;
            text-decoration-color: transparent;
            transition: all 0.4s ease;

            &_done {
                text-decoration: line-through;
                text-decoration-color: #fff;
                font-style: italic;
                opacity: 0.4;
            }

            &_hasPrecedingIcon {
                padding-left: 0;
            }
        }

        &__icon {
            padding: 2px;
            display: flex;
            align-items: center;

            &_tick {
                color: #aaa !important;
                opacity: 0.4;
                transition: all 0.4s ease;

                &:hover, &:active {
                    opacity: 1;
                }
            }

            &_done {
                color: #34AF23 !important;
            }
        }
    }
}
