body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #fff;
}

.controlIcon {
    display: inline-block;
    opacity: 0.4;
    transition: opacity 0.8s;

    &:hover, &:active {
        opacity: 1;
    }
}
